@model IList<HjuletRestaurang.Models.Order>

@{
    ViewBag.Title = "Ordrar";
}

<h2>Ordrar</h2>

@foreach (var order in Model)
{
    var ready = order.IsReady ? "glyphicon glyphicon-ok" : "glyphicon glyphicon-remove";
    
    <h4>Order: @order.OrderNumber <span class="@ready"></span></h4>
}
