body {

    .container.body-content {
        margin-top: 60px;
    }

    .hjulet-logo {
        border: solid 5px 5px;
        width: 80px;
    }

    .navigation-link {
        color: black;
        margin-top: 20px;
    }
}
